body {
	background-color: #000000;
}

.secciones {
	font-family: 'Exo', sans-serif;
	font-size: 60px;
}

li 
/*ESTADOS DE LINKS*/
a:link, a:visited { 
	color:#FFFFFF;
	text-decoration: none;
}

a:hover, a:active { 
	font-family: 'Exo 2', sans-serif;
	color: #FFFFFF;
	text-shadow: #66E4FF 8px 8px, #F433E4 -8px -8px;
}


/*ESTILO DE VIDEO YOUTUBE*/
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}